@use '../helpers/index' as *;

.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-green);
  }

  &--transparent {
    color: var(--color-black);
    background-color: transparent;
  }
}