@use '../helpers/index' as *;

.contact-us {
  position: relative;
  overflow-x: hidden;

  @include tablet-above {
    &::after {
      --contactUsImageOffsetY: 62px;

      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      aspect-ratio: 1;
      height: calc(100% - var(--contactUsImageOffsetY) * 2);
      background: url('../../images/contact-us-bg.svg') center/contain no-repeat;
      translate: -50% -50%;
    }
  }

  @include mobile-above {
    padding: 60px 100px 80px;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-large);
  }


  &__form,
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__request-types,
  &__body {
    @include mobile {
      background-color: var(--color-grey);
    }
  }

  &__request-types {
    margin: 0;

    @include mobile {
      padding: 40px 52px 36px;
      border-radius:
        var(--border-radius-large)
        var(--border-radius-large)
        0
        0;
    }
  }

  &__form {
    @include tablet-above {
      max-width: 556px;
    }

    @include mobile-above {
      row-gap: 40px;
    }

    @include mobile {
//      row-gap: 46px;
    }
  }

  &__body {
    row-gap: 25px;

    @include mobile {
      margin-bottom: 30px;
      padding: 10px 30px 50px;
      row-gap: 20px;
      border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
    }
  }
}
